---
title: Sammy Christen
position: PhD Student
image: assets/people/sammyc.jpg    
email: sammy.christen@inf.ethz.ch
phone: 
address: Stampfenbachstrasse 48, 8092 Zürich, Switzerland
office: ETH Zurich, Department of Computer Science, <a class="a-text-ext" href="http://www.mapsearch.ethz.ch/map/mapSearchPre.do?farbcode=c010&amp;lang=EN&amp;raumMap=56&amp;gebaeudeMap=STD" target="_blank" title="Building Information">STD</a>, <a class="a-text-ext" href="http://www.rauminfo.ethz.ch/Rauminfo/grundrissplan.gif?gebaeude=STD&amp;geschoss=H&amp;raumNr=29.1&amp;lang=EN" target="_blank" title="Room Information">H 29.1</a>
website: 
cv:

---


<h2>About me</h2> 
    <p>
      I am a PhD student in the <a class="a-text-ext" href="http://ait.inf.ethz.ch" target="_blank">Advanced Interactive Technologies lab</a> at ETH Zurich under the supervision of <a href="/people/hilliges/" title="Professor Otmar Hilliges" target="_blank" class="a-text-ext">Prof. Otmar Hilliges</a>. I received my BSc (2016) and MSc (2018) in Electrical Engineering and Information Technology from ETH Zürich with a focus on robotics, machine learning and control. 
  	</p>

    <h3>Research Interests</h3>
    <p>
    My research focuses on modeling human interactions with the physical world. Specifically, I'm researching how natural and physically plausible behavior can be integrated into generative motion models by using physics simulations and deep reinforcement learning. Furthermore, I'm investigating how these models can be leveraged in application domains such as human-robot Interactions, AR/VR, and others. 
    </p>

    <p>
    If you are interested in Semester/Master project in our group, you can check our <a href="/thesis/" target="_blank">available projects</a>.
    If you have your own topic related with my research, you are welcome to contact me.
    </p>

    <p>
      You can also find me on <a href="https://twitter.com/sammy_j_c" ">Twitter</a>, <a href="https://www.linkedin.com/in/sammy-christen-269466167/">Linkedin</a>, and <a href="https://scholar.google.com/citations?user=r1L_2qkAAAAJ&hl=de">Google scholar</a>.
    </p>


<h2>Publications </h2>

{% include get-publications.html filter="person" key="Christen" format="full" full-width=true %}


<h2>Academic Activities</h2>

    <h3>Reviewing</h3>
    <dl>
        <dt>2023</dt><dd>CVPR, ICCV, IROS, RA-L, SIGGRAPH, Comput Methods Biomech and Biomed Eng</dd>
        <dt>2022</dt><dd>CVPR, ICRA, IROS, RA-L, ECCV (outstanding reviewer), SIGGRAPH Asia, Computers & Graphics </dd>
        <dt>2021</dt><dd>NeurIPS, RA-L, IROS</dd>
        <dt>2020</dt><dd>CHI, RA-L, ICRA</dd>
    </dl>

   <h3>Other</h3>
   <dt>2023</dt>
   <ul class="bullets">
     <li> <dd>Invited talk at Tsinghua university</dd> </li>
     <li> <dd>Started internship at Meta</dd> </li>
   </ul>
   <dt>2022</dt>
   <ul class="bullets">
    <li> <dd>Internship at NVIDIA</dd> </li>
    <li> <dd>Part of the organizing committee of the <a href="https://sites.google.com/view/hands2022/home"">Hands@ECCV</a> workshop</dd> </li>
    <li> <dd>Honored as outstanding reviewer at ECCV</dd> </li>
  </ul>
  <dt>2021</dt>
  <ul class="bullets">
    <li> <dd>Session Chair at ICRA 2021 for Learning-Based Motion Planning</dd> </li>
  </ul>

    <h3>Student Theses</h3>
    <dl>
      <dt>2023</dt>
      <dd>
        <b>Nina Schmid</b> <i>Semester Project</i> <br/> Adversarial Skill Embeddings for Controlling Physics-Based Characters with Variable Body Shapes
      </dd>
      <dt>2022</dt>
      <dd>
        <b>Luocheng Zheng</b> <i>Master Thesis</i> <br/> Two Hand Manipulation of Articulated Objects
      </dd>
      <dd>
        <b>Jona Braun</b> <i>Master Thesis</i> <br/> Physically Plausible Dynamic Full-Body Grasp Synthesis for Human-Object Interactions
      </dd>
      <dd>
        <b>Lan Feng</b> <i>Semester Project</i> <br/> Controllable Human Grasp Generation
      </dd>
      <dd>
        <b>Andrea Ziani</b> <i>Master Thesis</i> <br/> TempCLR: Reconstructing Hands via Time-Coherent Contrastive Learning
      </dd>
      <dd>
        <b>Caroline Sauget</b> <i>Master Thesis</i> <br/> Reinforcement Learning for Incentivizing Sustainable Investments
      </dd>
      <dt>2021</dt>
      <dd>
        <b>Marco Bagatella</b> <i>Master Thesis</i> <br/> SFP: State-free Priors for Exploration in Off-Policy Reinforcement Learning
      </dd>
      <dt>2020</dt> 
      <dd>
        <b>Joel Neuner-Jehle</b> <i>Bachelor Thesis</i> <br/> Guiding Reinforcement Learning with Deep Saliency Prediction
      </dd>
      <dd>
        <b>Nikola Vulin</b> <i>Master Thesis</i> <br/> Learning to Control Contact Forces in Robotic Manipulation
      </dd>
  <dt>2019</dt>
  <dd>
      <b>Lukas Jendele</b> <i>Master Thesis</i> <br/> Learning Functionally Decomposed Hierarchies for Continuous Navigation Tasks
  </dd>
  </dl>

  <h3>Teaching</h3>
  <ul class="bullets">
    <li> <a class="a-text" href="/teaching/courses/2023-SS-Machine-Perception/">Machine Perception</a> &mdash; Spring 2023</li>
    <li> <a class="a-text-ext" target="_blank" href="/teaching/courses/2022-FS-Seminar-Human-Centric-Computer-Vision/">Advanced Topics in Human-Centric Computer Vision</a> &mdash; Autumn 2022</li>
    <li> <a class="a-text" href="/teaching/courses/2022-SS-Machine-Perception/">Machine Perception</a> &mdash; Spring 2022</li>
    <li> <a class="a-text-ext" target="_blank" href="/teaching/courses/2021-FS-Seminar-Human-Centric-Computer-Vision/">Advanced Topics in Human-Centric Computer Vision</a> &mdash; Autumn 2021</li>
    <li> <a class="a-text-ext" target="_blank" href="https://lec.inf.ethz.ch/baug/informatik1/2021/">Informatik I (D-BAUG)</a> &mdash; Autumn 2021</li>
    <li> <a class="a-text" href="/teaching/courses/2021-SS-Machine-Perception/">Machine Perception</a> &mdash; Spring 2021</li>
    <li> <a class="a-text-ext" target="_blank" href="https://lec.inf.ethz.ch/baug/informatik1/2020/">Informatik I (D-BAUG)</a> &mdash; Autumn 2020</li>
    <li> <a class="a-text" href="/teaching/courses/2020-SS-Machine-Perception/">Machine Perception</a> &mdash; Spring 2020</li>
    <li> <a class="a-text-ext" target="_blank" href="https://lec.inf.ethz.ch/ifmp/2019/">Informatik I (D-MATH, IFMP)</a> &mdash; Autumn 2019</li>
    <li> <a class="a-text" href="/teaching/courses/2019-SS-Machine-Perception/">Machine Perception</a> &mdash; Spring 2019</li>
  </ul>

<h2>Workshop Papers </h2>

{% include get-publications.html filter="person" key="Christen" format="workshop" full-width=true %}
