---
layout: default
title: People
permalink: /people/index.html
---


<article class="page">

  <header class="page-header container">
  <div class="row">
    <div class="column column-66">
      <h1 class="page-title">{{ page.title | escape }}</h1>
    </div>
  </div>
  </header>


  <div class="page-content container">
    <div class="row">
      <div class="column">

        <div class="grid with-sections">
          <h3><span>Faculty</span></h3>
          {% include get-person.html title="Prof. Dr. Otmar Hilliges" %}
          <h3><span>Admin</span></h3>
          {% include get-person.html title="Monika Naegeli" %}
          <h3><span>Postdocs</span></h3>
          {% include get-person.html title="Dr. Juan Zarate" %}
          {% include get-person.html title="Dr. Jie Song" %}
          {% include get-person.html title="Dr. Xi Wang" %}
		  {% include get-person.html title="Dr. Christoph Gebhardt" %}
          <h3><span>PhD Students</span></h3>
          {% include get-person.html title="Velko Vechev" %}
          {% include get-person.html title="Manuel Kaufmann" %}
	  {% include get-person.html title="Thomas Langerak" %}
          {% include get-person.html title="Xu Chen" %}
          {% include get-person.html title="Sammy Christen" %}
	  {% include get-person.html title="Muhammed Kocabas" %}
          {% include get-person.html title="Gengyan Li" %}
          {% include get-person.html title="Marcel Buehler" %}
          {% include get-person.html title="Zicong Fan" %}
          {% include get-person.html title="Yufeng Zheng" %}
          {% include get-person.html title="Chen Guo" %}
          {% include get-person.html title="Hsuan-I Ho" %}
	  {% include get-person.html title="Mert Albaba" %}
          {% include get-person.html title="Markos Diomataris" %}
          {% include get-person.html title="Malte Prinzler" %}
       </div>

        <h2>Previous <em>Members</em></h2>
        <dl class="peoplelist">
          <dt>2017 - 2022</dt><dd><a href="/people/spurra" "="">Dr. Adrian Spurr</a>
          <span class="status">Now at <a class="a-text-ext" href="https://research.facebook.com/">Meta</a></span></dd>

          <dt>2015 - 2022</dt><dd><a href="/people/eaksan" "="">Dr. Emre Aksan</a>
          <span class="status">Now at <a class="a-text-ext" href="https://arvr.google.com/">Google</a></span></dd>

          <dt>2018 - 2021</dt><dd><a href="/people/zhang" "="">Prof. Xucong Zhang</a>
          <span class="status">Assistant Professor at <a class="a-text-ext" href="https://www.tudelft.nl/">TU Delft</a></span></dd>

          <dt>2017 - 2021</dt><dd><a href="/people/blocka" "="">Dr. Alexis Block</a>
          <span class="status">PostDoc at <a class="a-text-ext" href="https://www.ucla.edu/">UCLA</a></span></dd>

          <dt>2015 - 2020</dt><dd><a href="/people/stevsics" "="">Dr. Stefan Stevsics</a>
          <span class="status">Now at <a class="a-text-ext" href="http://tinamu-labs.com">Tinamu Labs</a></span></dd>

          <dt>2018 - 2020</dt><dd><a href="/people/feitan">Prof. Anna Feit</a>
          <span class="status">Assistant Professor at <a class="a-text-ext" href="https://www.uni-saarland.de/start.html">Saarland University</a></span></dd>

          <dt>2018 - 2020</dt><dd><a href="/people/lindlbauer">Prof. David Lindlbauer</a>
          <span class="status">Assistant Professor at <a class="a-text-ext" href="https://www.hcii.cmu.edu/">CMU HCII</a></span></dd>

          <!--<dt>2015 - 2020</dt><dd><a href="/people/gebhardt">Dr. Christoph Gebhardt</a>
          <span class="status">Now at <a class="a-text-ext" href="http://tinamu-labs.com">Tinamu Labs</a></span></dd>-->

          <dt>2017 - 2020</dt><dd><a href="/people/spark">Dr. Seonwook Park</a>
          <span class="status">Now at <a class="a-text-ext" href="https://lunit.io">Lunit</a></span></dd>
        <dt>2013 - 2019</dt><dd><a href="/people/naegelit">Dr. Tobias Nägeli</a>
                <span class="status">Now the CEO of <a class="a-text-ext" href="http://tinamu-labs.com">Tinamu Labs</a>, a spin-off from AIT</span></dd>
        <dt>2015 - 2018</dt><dd><a href="/people/hepp">Dr. Benjamin Hepp</a>
                <span class="status">Now at Google</span></dd>
        <dt>2014 - 2017</dt><dd><a href="/people/pece">Dr. Fabrizio Pece</a>
          <span class="status">Now at <a class="a-text-ext" href="https://www.vizrt.com">Vizrt</a></span></dd>
        </dl>


          <h2>Previous <em>Guests</em></h2>
            <dl class="peoplelist">
                <dt>2018-2019</dt><dd>Amirsaman Ashtari
                <span class="status">PhD student at <a class="a-text-ext" target="blank_" href="https://cml.kaist.ac.kr/pres_students.html">KAIST</a></span></dd>
              <dt>2018</dt><dd>Prof. Dr. Jean-Charles Bazin
                <span class="status">Assistant Professor at <a class="a-text-ext" href="http://cml.kaist.ac.kr/pres_jcbazin.html">KAIST</a></span></dd>
              </dl>

          <h2>Previous <em>Interns</em></h2>
          <dl class="peoplelist">
              <dt>2018</dt><dd>Peng Cao<span class="status">Now a PhD student at <a class="a-text-ext" target="_blank" href="https://www.mit.edu/">MIT</a></span></dd>
              <dt>2018</dt><dd>Ljubica Vujovic <span class="status">Now at <a class="a-text-ext" target="_blank" href="https://www.smartcat.io/team/ljubica-vujovic/">SmartCat</a></span></dd>
              <dt>2017</dt><dd>Amala Deshmukh</dd>
              <dt>2014</dt><dd><a href="http://www.marionkoelle.de/" class="a-text-ext" target="_blank">Marion Koelle</a>
              <span class="status">Now a PhD at University of Oldenburg</span></dd>
              <br><hr><br>

            </dl>


          </div>
        </div>
      </div>

    </article>

