---
layout: default
title: Teaching
permalink: /teaching/index.html
---


<article class="page">

  <header class="page-header container">
  <div class="row">
    <div class="column column-66">
      <h1 class="page-title">{{ page.title | escape }}</h1>
    </div>
  </div>
  </header>


  <div class="page-content container">
    <div class="row">
      <div class="column column-66">

        
              <h2>Current <em>Courses</em></h2>
      {% include get-course.html ref="sch2023" %}
      {% include get-course.html ref="mp2023"%}
      
      <h2>Past <em>Courses</em></h2>
        {% include get-course.html ref="athccv2022" %}
        {% include get-course.html ref="sch2022" %}
        {% include get-course.html ref="mp2022" %}
        {% include get-course.html ref="athccv2021" %}
        {% include get-course.html ref="mp2021" %}
        {% include get-course.html ref="sch2021" %}


        {% include card.html
          title="Parallel Programming"
          description="Spring 2020"
          external_url="http://spcl.inf.ethz.ch/Teaching/2020-pp/"
          type="wide"
        %}        

      </div>
    </div>
  </div>

</article>
