<footer class="site-footer">

  <div class="footer-content">
    <a href="http://ethz.ch/index_EN" class="eth-logo" target="_blank">
        <img src="{{ '/assets/images/eth_logo.svg' | relative_url }}">
    </a>

    &copy; ETH Zürich | Department of Computer Science | {{ site.title | escape }} | 
    <a href="https://twitter.com/{{ site.twitter_username| cgi_escape | escape }}">
      <svg class="social-icon">
        <use xlink:href="{{ '/assets/minima-social-icons.svg#twitter' | relative_url }}"></use>
      </svg> 
      <span class="username">@{{ site.twitter_username| escape }}</span>
    </a>

  </div> 



</footer>
