{% assign filtered_publications = site.publications %}

{% if include.filter == 'person' %}
  {% capture query %} item.authors contains '{{ include.key }}'{% endcapture %}
  {% assign filtered_publications = filtered_publications | where_exp:"item", query %}
{% endif %}

{% if include.filter == 'project' %}
  {% capture query %} item.projects contains '{{ include.key }}'{% endcapture %}
  {% assign filtered_publications = filtered_publications | where_exp:"item", query %}
{% endif %}

{% if include.filter == 'id' %}
  {% capture query %} item.ref contains '{{ include.key }}'{% endcapture %}
  {% assign filtered_publications = filtered_publications | where_exp:"item", query %}
{% endif %}

{% if include.format %}
  {% capture query %} item.format contains '{{ include.format }}'{% endcapture %}
{% else %}
  {% capture query %} item.format contains 'full'{% endcapture %}
{% endif %}
{% assign filtered_publications = filtered_publications | where_exp:"item", query %}



{% assign sorted_publications = filtered_publications | reverse %}

{% if include.full-width %}
  </div></div>
  <div class="row">
    <div class="column">
{% endif %}

<div class="grid {% if include.with-sections %}with-sections{%endif%}">
  
{% for publication in sorted_publications limit:include.limit %}
  {% assign currentdate = publication.date | date: "%Y" %}
  



  {% if currentdate != date and include.with-sections %}
    <h3 id="{{year.name}}"><span>{{ currentdate }}</span></h3>
    {% assign date = currentdate %}
  {% endif %}

    <!-- Capture sections wholesale to pass to generic 'card' -->
    {% capture pub-extra %}
      {{ publication.venue }}, {{ currentdate }} 
      {% if publication.award %}<div class='award'><img style="height: 18px; width: 18px;" src="/assets/icons/award.svg" /> {{ publication.award }}</div>{% endif %}
    {% endcapture %}

    {% capture pub-links %}
      {% if publication.video %}<a href="{{ publication.video | relative_url }}" target="_blank"><img class="svg-icon" src="{{ '/assets/icons/video.svg' | relative_url }}">Video</a>{% endif %}
      {% if publication.talk %}<a href="{{ publication.talk | relative_url }}" target="_blank"><img class="svg-icon" src="{{ '/assets/icons/talk.svg' | relative_url }}">Talk</a>{% endif %}
      {% if publication.paper %}<a href="{{ publication.paper | relative_url }}" target="_blank"><img class="svg-icon" src="{{ '/assets/icons/paper.svg' | relative_url }}">Paper</a>{% endif %}
      {% if publication.data %}<a href="{{ publication.data | relative_url }}" target="_blank"><img class="svg-icon" src="{{ '/assets/icons/data.svg' | relative_url }}">Data</a>{% endif %}
      {% if publication.code %}<a href="{{ publication.code | relative_url }}" target="_blank"><img class="svg-icon" src="{{ '/assets/icons/code.svg' | relative_url }}">Code</a>{% endif %}
    {% endcapture %}

    {% assign pub-links = pub-links | strip_newlines | strip %}
    {% assign pub-ext-url = publication.external_project_page | strip_newlines | strip %}

    {% capture pub-linked-authors %}
      {% include get-linked-persons.html persons=publication.authors contribs=publication.equal_contributions%}
    {% endcapture %}
    
    {% include card.html
      output="vertical"
      title=publication.title
      image=publication.image
      url=publication.url
      external_url=pub-ext-url
      description=pub-linked-authors
      extra=pub-extra
      links=pub-links
    %}

{% endfor %}
</div>

{% if include.full-width %}
  </div></div>
  <div class="row">
    <div class="column column-66">
{% endif %}
