/**
 * Grid and Card 
 */

.grid
	display: grid
	grid-template-columns: 1fr
	grid-template-rows: auto
	grid-gap: 30px
	grid-template-columns: 1fr 1fr 1fr
	padding-left: 100px
	margin-top: -50px

	> h3
		display: flex
		grid-column: 1/ span 3
		max-width: 100%
		margin: 0 0 20px 0
		span
			position: absolute
			left: 0
			margin-top: 51px
			border-top: 1px solid $color-grey
			padding-right: 50px
			padding-top: 10px

.grid-center
	justify-content: center


/**
 * Card General 
 */

.card
	background: white
	// box-shadow: 0 2px 5px rgba(0,0,0,0.1)
	display: flex
	flex-direction: column
	padding: $spacing-unit*2 0
	border: 1px solid $color-border
	border-radius: 10px	
	min-height: 360px
	position: relative

	.card-title
		font-size: 16px
		line-height: 1.5em
		margin-bottom: $spacing-unit/3


	.card-content
		margin: 0 $spacing-unit/2
		display: block
		width: 66%

	.card-subtitle
		margin-bottom: $spacing-unit/2
		font-size: 13px

	.card-extra
		font-weight: bold
		font-size: 12px

	.card-img
		display: block
		text-align: center
		img
			max-height: 200px
			max-width: 100%
		video
			max-height: 200px
			max-width: 100%

	.card-corner
		position: absolute
		top: 0
		right: 0
		height: 12px
		width: 12px
		opacity: 0.5

	/**
	 * Card Vertical 
	 */

	&.card-vertical
		padding: $spacing-unit 0 0 0
		display: flex
		flex-direction: column
		justify-content: space-between

		.card-title
			margin-top: $spacing-unit
		.card-img
			margin: 0 auto
			width: 85%
		.card-content
			flex: 1
			margin: 0 auto
			width: 85%
			max-width: none
			padding-bottom: $spacing-unit/2
			a
				color: $text-color
				&:hover, &.active
					color: $color-orange

		.card-links
			border-top: 1px solid $color-border
			margin-top: 10px
			font-size: 13px
			padding: $spacing-unit/3 $spacing-unit
			text-align: right

			a
				color: $text-color
				&:hover, &.active
					color: $color-orange
				margin-left: 10px
			img
				height: 16px
				margin-right: 5px



/**
 * Card Horizontal 
 */


.horizontal-card
	padding: $spacing-unit 0
	border-top: 1px solid $color-border
	display: flex

	.card-content
		flex: 1

	.card-title
		display: block
		font-weight: bold
		margin-bottom: $spacing-unit/3



@include media-query($mobile-break)
	.grid
		display: block

	.card
		max-width: 100%
		width: 100%
		padding: $spacing-unit 0

		&.card-vertical
			max-width: 100%
			.card-img
				height: auto


