/**
 * Grid and Card 
 */

.grid
	display: grid
	grid-template-columns: 1fr
	grid-template-rows: auto
	grid-gap: 30px
	grid-template-columns: 1fr 1fr 1fr

	> h3
		display: flex
		grid-column: 1/ span 3
		max-width: 100%
		margin: 0 0 20px 0
		line-height: 20px
		font-size: 13px
		span
			position: absolute
			left: 0
			margin-top: 51px
			border-top: 1px solid $color-grey
			width: 80px
	> .card
		margin-bottom: 0

	&.with-sections
		margin-top: -50px
		padding-left: 100px

.grid-center
	justify-content: center


/**
 * Card General 
 */

.card
	background: white
	// box-shadow: 0 2px 5px rgba(0,0,0,0.1)
	display: flex
	flex-direction: row
	padding: 0
	border: 1px solid $color-border
	border-radius: 10px	
	position: relative
	min-height: 200px
	margin-bottom: $spacing-unit/2

	&.short
		min-height: 80px

	&.wide
		min-height: 60px
		.card-subtitle
			margin-bottom: 0
		.card-img
			padding: $spacing-unit/2
			img
				object-fit: contain


	.card-title
		font-size: 16px
		line-height: 1.5em
		margin-bottom: $spacing-unit/3
		a
			color: $text-color
			&:hover, &.active
				color: $color-orange
	.card-content
		flex: 1
		margin: $spacing-unit/2
		display: block

	.card-subtitle
		margin-bottom: $spacing-unit/2
		font-size: 13px
		font-weight: 600

	.card-info
		font-size: 13px

	.card-extra
		font-weight: bold
		font-size: 12px

	.card-img
		display: block
		text-align: center
		width: 135px
		overflow: hidden

		img
			object-fit: cover
			height: 100%
	.card-icon
		display: block
		text-align: center
		width: 50px

		img
			width: 24px
			height: 24px
			margin-top: 20px
			margin-left: 15px

	.card-corner
		position: absolute
		top: 0
		right: 0
		height: 12px
		width: 12px

	/**
	 * Card Vertical 
	 */

	&.card-vertical
		padding: $spacing-unit 0 0 0
		display: flex
		flex-direction: column
		justify-content: space-between
		min-height: 360px

		.card-title
			margin-top: $spacing-unit

		.card-img
			margin: 0 auto
			width: 85%
			img, video
				max-height: 200px
				max-width: 100%

		.card-content
			flex: 1
			margin: 0 auto
			width: 85%
			max-width: none
			padding-bottom: $spacing-unit/2

		.card-subtitle		
			font-weight: 400

		.card-links
			border-top: 1px solid $color-border
			margin-top: 10px
			font-size: 13px
			padding: $spacing-unit/3 $spacing-unit
			text-align: right

			a
				color: $text-color
				&:hover, &.active
					color: $color-orange
				margin-left: 10px
			img
				height: 16px
				margin-right: 5px



@include media-query($mobile-break)
	.grid
		display: block
		
		&.with-sections
			margin-top: 0
			padding-left: 0

		> h3
			display: block
			grid-column: 1/ span 3
			max-width: 100%
			margin: 0 0 20px 0
		
			span
				position: relative
				border-top: none

		.card
			max-width: 100%
			width: 100%
			margin-bottom: $spacing-unit

			&.card-vertical
				max-width: 100%
				.card-img
					height: auto

@media (prefers-color-scheme: dark)
	.card
		background: $color-bg-dark-lighter
		border-color: $color-border-dark
		.card-title
			a
				color: $text-color-light
				&:hover, &.active
					color: $color-orange
		&.card-vertical
			.card-links
				border-top: 1px solid $color-border-dark
				a
					color: $text-color-light
					&:hover, &.active
						color: $color-orange
