---
layout: default
---
<article class="page">

  <header class="page-header container">
	<div class="row">
		<div class="column column-66">
			<h1 class="page-title">{{ page.title | escape }}</h1>
      
      <div class="info-block">

        {% if page.edoz %} 
          <div class="info-line">
            <label>VVZ:</label>
            <div class="info-content"><a href="{{ page.edoz }}" target="_blank">Open in Course Catalogue</a></div>
          </div>  
        {% endif %}

        {% if page.assistants %} 
          <div class="info-line">
            <label>Assistants:</label>
            <div class="info-content">{% include get-linked-persons.html persons=page.assistants %}</div>
          </div>  
        {% endif %}

        {% if page.semester %} 
          <div class="info-line">
            <label>Semester:</label>
            <div class="info-content">{{ page.semester }}</div>
          </div>  
        {% endif %}

        {% if page.number %} 
          <div class="info-line">
            <label>Number:</label>
            <div class="info-content">{{ page.number }}</div>
          </div>  
        {% endif %}

  		  {% if page.lecturer %} 
          <div class="info-line">
            <label>Lecturer:</label>
            <div class="info-content">{% include get-linked-persons.html persons=page.lecturer %}</div>
          </div>  
          {% endif %}

    		{% if page.head-ta %}
    		<div class="info-line">
    			<label>Head TA:</label>
    			<div class="info-content">{% include get-linked-persons.html persons=page.head-ta %}
    				{% if page.head-ta-details %}
    				  <span>({{ page.head-ta-details }})</span>
    				{% endif %}
    			</div>
    		</div> 
    		{% endif %}

  		  {% if page.ta %} 
        <div class="info-line">
          <label>TA:</label>
          <div class="info-content">{% include get-linked-persons.html persons=page.ta %}</div>
        </div>  
        {% endif %}

        {% if page.lecture-time-place %} 
          <div class="info-line">
            <label>Lecture:</label>
            <div class="info-content">{{ page.lecture-time-place }}</div>
          </div>  
        {% endif %}

        {% if page.session-time-place %} 
          <div class="info-line">
            <label>Session:</label>
            <div class="info-content">{{ page.session-time-place }}</div>
          </div>  
        {% endif %}

        {% if page.exercise-time-place %} 
          <div class="info-line"><label>Exercise:</label>
          <div class="info-content">{{ page.exercise-time-place }}</div>
          </div>  
        {% endif %}

        {% if page.credits %} 
          <div class="info-line">
            <label>Credits:</label>
            <div class="info-content">{{ page.credits }}</div>
          </div>  
        {% endif %}

        {% if page.links %} 
          <div class="info-line">
            <label>Links + Schedule:</label>
            <div class="info-content">{{ page.links }}</div>
          </div>  
        {% endif %}

        {% if page.recordings %} 
          <div class="info-line">
            <label>Recordings:</label>
            <div class="info-content">{{ page.recordings }}</div>
          </div>  
        {% endif %}

        {% if page.stream %} 
          <div class="info-line">
            <label>Live stream:</label>
            <div class="info-content">{{ page.stream }}</div>
          </div>  
        {% endif %}

        {% if page.contact %} 
          <div class="info-line">
            <label>Contact:</label>
            <div class="info-content">{{ page.contact }}</div>
          </div>  
        {% endif %}

        {% if page.faq %} 
          <div class="info-line">
            <label>FAQ:</label>
            <div class="info-content">{{ page.faq }}</div>
          </div>  
        {% endif %}

        {% if page.zoom %} 
          <div class="info-line">
            <label>Lecture Zoom:</label>
            <div class="info-content">{{ page.zoom }}</div>
          </div>  
        {% endif %}

        {% if page.papers %} 
          <div class="info-line">
            <label>Papers:</label>
            <div class="info-content">{{ page.papers }}</div>
          </div>  
        {% endif %}

        {% if page.signup %} 
          <div class="info-line">
            <label>Paper signup form:</label>
            <div class="info-content">{{ page.signup }}</div>
          </div>  
        {% endif %}

        {% if page.template %} 
          <div class="info-line">
            <label>Review template:</label>
            <div class="info-content">{{ page.template }}</div>
          </div>  
        {% endif %}

        {% if page.office %} 
          <div class="info-line">
            <label>Office hours:</label>
            <div class="info-content">{{ page.office }}</div>
          </div>  
        {% endif %}


        <hr />
      </div>

		</div>

    <div class="column column-33 ">
      <div class="page-img full-width">
        {% if page.image %} <img src="{{ page.image | relative_url}}"/> {% endif %}
      </div>
    </div>
	</div>
  </header>

  <div class="page-content" style="margin-top: -60px;">
    <div class="row">
      <div class="column column-66">
        {{ content }}
      </div>
    </div>
  </div>


</article>
