---
layout: default
---
<article class="page">

  <header class="page-header container">
	<div class="row">
		<div class="column column-66">
			<h1 class="page-title">{{ page.title | escape }}</h1>
      <div class="page-subtitle">{% include get-linked-persons.html persons=page.authors contribs=page.equal_contributions %} </div>
		</div>

	</div>
  </header>

  <div class="page-content">
    <div class="row">
      <div class="column column-66">
            {{ content }}


    <hr />
    {% if page.projects %}
      <div class="extras">
        <label>Research Projects</label>
        {% include get-project.html ref=page.projects output="plain" %}
      </div>
    {% endif %}

    

      </div>
      <div class="column column-offset-8 column-25 page-meta">
          <h4 class='first'>Published at</h4>
          {%if page.conference_url != "" %}<a href="{{page.conference_url}}" target="_blank">{%endif%}
          {{ page.venue }}, {{ page.date | date: "%Y" }} 
          {%if page.conference_url != "" %}</a>{%endif%}

          {% if page.award %}
            <br /><br />
            <img src="/assets/icons/award.svg" /> {{ page.award }}     
          {% endif %}

          <h4>Project Links</h4>
          <div class="page-links">
            {% if page.video %}<a href="{{ page.video | relative_url }}" target="_blank"><img class="svg-icon" src="{{ '/assets/icons/video.svg' | relative_url }}">Video</a>{% endif %}
            {% if page.paper %}<a href="{{ page.paper | relative_url }}" target="_blank"><img class="svg-icon" src="{{ '/assets/icons/paper.svg' | relative_url }}">Paper</a>{% endif %}
            {% if page.poster %}<a href="{{ page.poster | relative_url }}" target="_blank"><img class="svg-icon" src="{{ '/assets/icons/poster.svg' | relative_url }}">Poster</a>{% endif %}
            {% if page.data %}<a href="{{ page.data | relative_url }}" target="_blank"><img class="svg-icon" src="{{ '/assets/icons/data.svg' | relative_url }}">Data</a>{% endif %}
            {% if page.code %}<a href="{{ page.code | relative_url }}" target="_blank"><img class="svg-icon" src="{{ '/assets/icons/code.svg' | relative_url }}">Code</a>{% endif %}
          </div>

          {% if page.bibtex %}
            <h4>Bibtex</h4> <div class="extras">{{ page.bibtex }}</div>
          {% endif %}

      </div>

    </div>
  </div>


</article>
