---
layout: default
---
<article class="page">

  <header class="page-header container">
	<div class="row">
		<div class="column column-66">
			<h1 class="page-title">{{ page.title | escape }}</h1>
      <h3 class="page-subtitle">{% include get-linked-persons.html persons=page.authors %} </h3>

      
	  {% if page.authors contains "*" %}
		<br/>
		<div class="page-subtitle">* Equal contribution</div>
	  {% endif %}

    
		</div>

    <div class="column column-33 ">

    </div>

	</div>
  </header>

  <div class="page-content">
    <div class="row">
      <div class="column column-66">
            {{ content }}


    <hr />
    {% if page.projects %}
      <div class="extras">
        <label>Research Projects</label>
        {% include get-project.html ref=page.projects output="plain" %}
      </div>
    {% endif %}

    

      </div>
      <div class="column column-offset-8 column-25 page-meta">
          <h4 class='first'>Published at</h4>
          {{ page.venue }} {{ page.year }}
          {% if page.awards %}
              <br/>
              <span><img style="height: 18px; width: 18px;" src="/assets/images/award.png" title="CC BY 4.0 by @fontawesome - https://fontawesome.com"></span> <font color="#d74141">{{ page.awards }}</font>
              <br/>      
          {% endif %}

          <h4>Project Links</h4>
          <div class="page-links">
            {% if page.video %}<a href="{{ page.video | relative_url }}" target="_blank"><img class="svg-icon" src="{{ '/assets/icons/video.svg' | relative_url }}">Video</a>{% endif %}
            {% if page.paper %}<a href="{{ page.paper | relative_url }}" target="_blank"><img class="svg-icon" src="{{ '/assets/icons/paper.svg' | relative_url }}">Paper</a>{% endif %}
            {% if page.data %}<a href="{{ page.data | relative_url }}" target="_blank"><img class="svg-icon" src="{{ '/assets/icons/data.svg' | relative_url }}">Data</a>{% endif %}
            {% if page.code %}<a href="{{ page.code | relative_url }}" target="_blank"><img class="svg-icon" src="{{ '/assets/icons/code.svg' | relative_url }}">Code</a>{% endif %}
          </div>

          {% if page.bibtex %}
            <h4>Bibtex</h4> <div class="extras">{{ page.bibtex }}</div>
          {% endif %}

      </div>

    </div>
  </div>


</article>
